{% extends("layouts/default.njk") %}

{% macro show_title(project) %}
{% if project.id == "cityofsparkles"  %}
<style>
    .{{ project.id }}-subtitle {
      font-weight: 800;
    }
</style>
<h2 class="hs-line-special hs-shadow font-alt mb-50 mb-xs-30">
    {{ project.title }}
</h2>

<h1 class="hs-line-8 hs-shadow font-alt mb-50 mb-xs-30 {{ project.id }}-subtitle">
    {{ project.subtitle }}
</h1>
{% elif project.id == "holokit" %}
  <h1 class="mb-50 mb-xs-30">
      <img width="200px" src="images/holokit.png"></img>
      <br>
      <br>
  </h1>
{% elif project.id == "cityvr"  %}
<style>
    .{{ project.id }}-title {
        font-family: Futura-Medium, Trebuchet MS, Arial, sans-serif;
    }
</style>

<div class="hs-line-4 hs-shadow no-transp font-alt mb-50 mb-xs-30" style="font-weight: 800;">
    Redefine the way we experience 3D maps
</div>

<h1 class="hs-line-16 hs-shadow font-alt mb-50 mb-xs-30 {{ project.id }}-title">
    {{ project.title }}
</h1>

<h2 class="hs-line-4 hs-shadow no-transp font-alt mb-50 mb-xs-30" style="font-weight: 800;">
    {{ project.subtitle }}
</h2>

{% elif project.id == "skywand" %}
<h1 class="hs-line-14 hs-shadow font-alt mb-50 mb-xs-30 text-center">
    {{ project.title }}
</h1>

<h2 class="hs-line-4 hs-shadow font-alt mb-50 mb-xs-30" style="font-weight: 800;">
    {{ project.subtitle }}
</h2>
{% endif %}

{% endmacro %}


{% macro slide(project) %}
    <section class="home-section bg-scroll bg-pattern-over" data-background="images/{{ project.id }}-video-placeholder.jpg" id="{{ project.id }}">
        <div class="js-height-full container">

            <!-- Video BG Init -->
            <div class="player" data-property="{videoURL:'{{ project.bgvideo_ytid }}', containment:'#{{ project.id }}', stopMovieOnBlur: false, useOnMobile: true, quality: 'highres', loop:true, autoPlay:true, showControls:false, showYTLogo: false, mute:true, startAt:0, opacity:1, mobileFallbackImage: 'images/{{ project.id }}-video-placeholder.jpg'}">
            </div>
             <!-- End Video BG Init -->

            <!-- Hero Content -->
            <div class="home-content">
                <div class="home-text">

                  {{ show_title(project) }}

                  <div>
                      <a href="{{ project.trailer_url | safe }}" class="big-icon-link lightbox mfp-iframe"><span class="big-icon"><i class="fa fa-play"></i></span></a>
                      <br>
                      <br>
                  </div>

                  <div>
                      <a href="//{{ project.url }}" target="_blank" class="btn btn-mod btn-w btn-medium btn-round">Visit {{ project.url }}</a>
                  </div>
                </div>
            </div>
            <!-- End Hero Content -->
        </div>
    </section>
{% endmacro %}


{% block content %}
<div class="home-section fullwidth-slider bg-dark" id="home">
  {% for project in site.projects %}
    {{ slide(project) }}
  {% endfor %}
</div>

<!-- Divider -->
<hr class="mt-0 mb-0 "/>
<!-- End Divider -->

<!-- About Section -->
<section class="page-section" id="about" >
    <div class="container relative">

        <h2 class="section-title font-alt mb-70 mb-sm-40">
            About Amber Garage
        </h2>

        <div class="section-text col-md-8 col-md-offset-2 mb-50 mb-sm-20">
            <div class="row">
                <div>
                    Amber Garage is a Silicon Valley based creative art &amp; tech studio, founded by <a href="//botao.hu/" target="_blank">Botao (Amber) Hu</a>.
                    We utilize robotics technology for creating new media and new media art.
                    As artists, we're creating arts based on our own media and tool to bridge the gap between virtual world and reality.
                    As roboticists, we're thinking how robotics technology can revolutionize the process of creative works.
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About Section -->

<!-- Divider -->
<hr class="mt-0 mb-0 "/>
<!-- End Divider -->

<!-- Contact Section -->
<section class="page-section bg-gray" id="contact" >
    <div class="container relative">

        <h2 class="section-title font-alt mb-70 mb-sm-40">
            Partnerships &amp; Contacts
        </h2>

         <div class="section-text col-md-8 col-md-offset-2 ">
            <div class="row mb-50 mb-sm-20">
                <div>
                We are looking for partnership with innovators, filmmakers, artists, and creatives to collaborate on creative Robotics + Art projects that use the Skywand technologies.
                </div>
            </div>

            <div class="row wow fadeInUp" data-wow-duration="1.5s">
                  <!-- Email -->
                  <div class="col-sm-4 pt-20 pb-20 pb-xs-0">
                      <div class="contact-item">
                          <div class="ci-icon">
                              <i class="fa fa-envelope"></i>
                          </div>
                          <div class="ci-title font-alt">
                              Email
                          </div>
                          <div class="ci-text">
                              <a href="mailto:info@ambergarage.com">info@ambergarage.com</a>
                          </div>
                      </div>
                  </div>
                  <!-- End Email -->

                  <!-- Email -->
                  <div class="col-sm-4 pt-20 pb-20 pb-xs-0">
                      <div class="contact-item">
                          <div class="ci-icon">
                              <i class="fa fa-envelope"></i>
                          </div>
                          <div class="ci-title font-alt">
                              For Skywand
                          </div>
                          <div class="ci-text">
                              <a href="mailto:info@skywand.com">info@skywand.com</a>
                          </div>
                      </div>
                  </div>
                  <!-- End Email -->

                  <!-- Email -->
                  <div class="col-sm-4 pt-20 pb-20 pb-xs-0">
                      <div class="contact-item">
                          <div class="ci-icon">
                              <i class="fa fa-envelope"></i>
                          </div>
                          <div class="ci-title font-alt">
                              For HoloKit
                          </div>
                          <div class="ci-text">
                              <a href="mailto:info@holokit.io">info@holokit.io</a>
                          </div>
                      </div>
                  </div>
                  <!-- End Email -->
            </div>
        </div>
    </div>
</section>
<!-- End Contact Section -->

{% endblock %}
