<!DOCTYPE html>
<html>
  <!-- Head tag -->
  {% include "partials/head.njk" %}
  <body>
    {% include "partials/navigation.njk" %}
    {% block navigation %}{% endblock %}
    <!-- COLUMNS -->
    <div class="columns">

      <div class="column">
        {% block content %}{% endblock %}
      </div>
    </div>
    <!-- END COLUMNS -->
  </body>
</html>
